<div class="container-fluid">
  <div class="topnav">
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand " href="#">
            <img class='navbar-brand' src="./assets/assuredServicesLogo.jpg" alt="Assure Services">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-left">
            <ng-template [ngIf]="authService.isAuthenticated()">
            <!--<li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>-->
            <!--<li><a routerLink="/documents" routerLinkActive="active">Documents</a></li>-->
            <li><a routerLink="/new-deal" routerLinkActive="active">Create New Deal</a></li>
            <li><a routerLink="/blue-skies" routerLinkActive="active">Blue Skies Calculator</a></li>
            </ng-template>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-controller="authController">
            <li *ngIf="!authService.isAuthenticated()"><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li *ngIf="authService.isAuthenticated()" class="clicky"><a (click)="logout()">Logout</a></li>
            <li *ngIf="!authService.isAuthenticated()"><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
            <li *ngIf="authService.isAuthenticated()"><a routerLink="/my-account" routerLinkActive="active">Account</a></li>
            <a *ngIf="authService.isAuthenticated()" class="navbar-brand " href="#">
              <img class='navbar-brand custom-brand' *ngIf="!onPictureError" [src]='sanitizer.bypassSecurityTrustResourceUrl("http://assure.force.com/newspv/resource/1480802952000/logo_" + sfId)' (error)="picError()" alt="Assure Services">
              <input type="text" id="test" [(ngModel)]="user.firstName">
              {{user.firstName}}
            </a>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
