<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3 class="text-center">Email Password Reset</h3>
    <p class="text-center">Enter your new password below.</p>
    <br>
    <form (submit)="submitReset(resetForm)" #resetForm="ngForm">

      <div class="form-group group">
        <input type="password" id="newPassword" name="newPassword" class="" ngModel required autofocus>
        <label class="control-label" for="newPassword">New Password</label><i class="bar"></i>
      </div>


      <div class="form-group group">
        <input type="password" id="newPasswordRepeat" name="newPasswordRepeat" class="" ngModel required>
        <label class="control-label" for="newPasswordRepeat">Repeat New Password</label><i class="bar"></i>
      </div>


      <div class="text-danger text-center" *ngIf="errorMessage" style="margin-bottom: 25px;">{{errorMessage}}</div>


      <div class="text-center"><button class="center-block btn btn-primary" type="submit">Reset Password</button></div>
    </form>
  </div>
</div>
