<div class="authPages">
  <div class="text-center">
    <h1>Assure Portal Signup</h1>
  </div>

  <p class="signup text-center" style="padding-bottom: 10px;">Use the form below to create your free Assure Services account:</p>

  <form #signupForm = "ngForm" (ngSubmit)="onSignup(signupForm)">
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <label for="firstName">First Name:</label>
            <input class="form-control" type="text" name="firstName" id="firstName" ngModel required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <label for="lastName">Last Name:</label>
            <input class="form-control" type="text" name="lastName" id="lastName" ngModel required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <label for="email">Email:</label>
            <input class="form-control" type="email" name="email" id="email" ngModel required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <label for="password">Password:</label>
            <input class="form-control" name="password" type="password" id="password" ngModel required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <label for="passwordRepeat">Password Repeat:</label>
            <input type="password" id="passwordRepeat" class="form-control" name="passwordRepeat" validateEqual="password" [(ngModel)]="passwordRepeat" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <span class="text-danger" *ngIf="passwordMessage">{{passwordMessage}}</span>
            <span class="text-danger" *ngIf="errorMessage">{{errorMessage}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <button type="submit" class='btn btn-primary'>Submit</button>
      </div>
    </div>
  </form>
</div>
