<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
    <h3 class="text-center">Email Password Reset</h3>
    <hr>

    <div *ngIf="!resetSuccessful">
      <p class="text-center">In order to verify your identity and reset your password, please provide the email you used when you originally signed up.</p>
    <br>
    <form (submit)="passwordReset(resetForm)" #resetForm="ngForm">

      <div class="form-group group">
        <input type="text" id="email" name="email" class="" ngModel required autofocus>
        <label class="control-label" for="email">Email Address</label><i class="bar"></i>
      </div>
      <br>
      <button class="center-block btn btn-primary btn-lg" type="submit">Reset Password</button>
    </form>
    </div>

    <div *ngIf="resetSuccessful" class="text-center">
      <h4>An email has been sent!</h4>
      <p>Please check your inbox as well as your spam folder.</p>
    </div>

  </div>
</div>
